@import "tailwindcss";

@theme {
    --color-brand-blue: #257BF4;
    --color-brand-beige: #F5F7F8;
    --color-border-gray: #E5E7EB;
    --color-blue-gray: #60728A;
    --tracking-section-label: 2.8px;
}

@utility tracking-section-label {
    letter-spacing: var(--tracking-section-label);
}